# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# User Secrets (ne sont normalement PAS dans le repo, stockés hors projet par dotnet user-secrets)
# mais gardé ici par précaution si jamais un fichier apparaissait par erreur
**/secrets.json

# Fichiers de test/couverture générés
*.trx
TestResults/
coverage.cobertura.xml

# Fichiers temporaires SQL Server Management Studio
*.dtsx.dtsx